body{ 
   wdth: 940px;
   margin-left: auto:
   font-family: "Helvetica", "lucida grande", sans-serif;
   color:#3d3d3d;
}

h1{
   padding:10px;
   background-color: #E1EDF2;
}

h2{
   border-bottom:2px solid black:#3d3d3d
}

figure{
   margibn: 30px;
   padding: 15px;
   text-align: center;
   background-color: white;
   border:1px solid whitesmoke;
   }
   figcaption{
           margin-top: 10px ;
   }
   figure img {
      width:850px;
}